<a href="https://colab.research.google.com/github/rajshreeathawale/DBMS_assignments/blob/main/python_ASS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Ass 2**

Q1.Write a program that asks a user for a username and
password. If password is “cdac” and does not contain username
print “login successful” otherwise “login failure”

In [ ]:
UName =input("Enter your name :")
passwd =input("Enter your Password :")
if passwd == "cdac" and UName not in passwd :
    print("Login Successful")
else :
    print("Login failure")

Enter your name :Rajshree
Enter your Password :cdac
Login Successful

Q2.Write a program to input 2 strings. If string1 is contained in
string2 ,create a third string with the first four characters of
string2 added with word “cdac”

In [ ]:
s1=input("Enter first string: ")
s2=input("Enter second string: ")
if s1 in s2:
    s3=s2[:4] + "cdac"
    print("Third string gives :",s3)
else:
    print(s1 not in s2)

Enter first string: tvm
Enter second string: pgdbdatvm
Third string gives : pgdbcdac

Q3.Write a program that inputs a string that contains a decimal
number and prints out the decimal part of the number(Do not
convert the string to number)

In [ ]:
a =input("Enter a decimal value")
decimal_part =a.split(".",1)[-1]
print("The decimal part :",decimal_part)

Enter a decimal value125.364
The decimal part : 364

Q4 Write a program that takes a string with multiple words and
then capitalizes the first letter of each word and forms a new
string out of it

In [ ]:
string =input("Enter the string of multiple words :")
CapString = string.title()
print("string of words with first letter capital :",CapString)

Enter the string of multiple words :my name is rajshree
string of words with first letter capital : My Name Is Rajshree

Q5.Write a program that reads a string and prints a string that
capitalizes every other letter in the string (eg: python becomes
pYtHoN)

In [ ]:
 a = input("Enter a String :")
 b =''.join(char.upper() if i%2==0 else char for i,char in enumerate(a))
 print("New String :",b)

Enter a String :python
New String : PyThOn

Q6Write a program that asks the user for a string and creates a new string that doubles each character of the original string(eg:
cdac becomes ccddaacc)

In [ ]:
a =input("Enter a string :")
b ="".join(char * 2 for char in a)
print("New string :",b)

Enter a string :cdac
New string : ccddaacc

or

In [ ]:
a =input("Enter a string :")

b=""
for i in a:
    b+= i * 2
print("New string :",b)

Enter a string :cdac
New string : ccddaacc

Q7.Write a program that inputs a line of text and prints its each
word in a separate line along with its length

In [ ]:
text = input("Enter a text :")
words =text.split()
for word in words:
   print(word,":",len(word))

Enter a text :cdac pgdbda tvm
cdac : 4
pgdbda : 6
tvm : 3

Q8.Write a program which takes one string and a character. The
function should create a new string after deleting all the
occurrences of the character from the string

In [ ]:
s1 = input("Enter a string :")
s2 = input("Enter characters to be removed :")
s3 = s1.replace(s2,"-")
print("New String :",s3)

Enter a string :cdac pgdac pgdbda
Enter characters to be removed :pgdac
New String : cdac - pgdbda

Q9.Write a program that reads a sentence and print the string
with lowercase characters converted to uppercase and
viceversa

In [ ]:
s1 = input("Enter a string :")
s2 =s1.upper()
print("First string in upper case :",s2)
s3 = s2.lower()
print("String converted in lower case :",s3)

Enter a string :i am rajshree
First string in upper case : I AM RAJSHREE
String converted in lower case : i am rajshree

Q10.Write a program that does the following:

a. Prompt the user for a string

b. Extract all the digits from the string

c. If there are digits

a. sum the collected digits together

b. print out: the original string , the digits, the sum of the
digits d. If there are no digits

a. print the original string and a message “has no digits”

In [ ]:
string = input("Enter a string :")
dig_sum=0
Extr_digit = ''.join(char for char in string if char.isdigit())

#sum of digits
for i in string:
    if i.isdigit():
        dig_sum+=int(i)

#original string
print("Original String :",string)

#check if any digit
if Extr_digit:
    print("Extracted digits :",Extr_digit)
    print("Sum of digits :",dig_sum)

else:
    print(" Has no digit in the String")

Enter a string :rashi 1997
Original String : rashi 1997
Extracted digits : 1997
Sum of digits : 26

Q11.Extract two list slices out of a given list of numbers. Display and
print the sum of elements of the first slice which contains every
other element of the list between indexes 5 to 15. Program should
also display the average of elements in the second list slice that
contains every fourth element of the list.

In [ ]:
num =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
f_slice =num[5:16:2]
print("first slice :",f_slice)
f_sum=sum(f_slice)
print("First slice sum :",f_sum)
s_slice=num[::4]
print("second slice :",s_slice)
s_avg=sum(s_slice)/len(s_slice)
print("Average of the second slice elements :",s_avg)

first slice : [6, 8, 10, 12, 14, 16]
First slice sum : 66
second slice : [1, 5, 9, 13, 17]
Average of the second slice elements : 9.0

Q12.Write a program that inputs a list, replicates it twice and then
prints the sorted list both in ascending and descending order

In [ ]:
l1 =[1,2,3,5,40,60,25]
l2=l1*2
print(l2)
asc_sort=sorted(l2)
print("Sorted list in ascending order :",asc_sort)
desc_sort=sorted(l2,reverse = True)
print("Sorted list in descending order :",desc_sort)

[1, 2, 3, 5, 40, 60, 25, 1, 2, 3, 5, 40, 60, 25]
Sorted list in ascending order : [1, 1, 2, 2, 3, 3, 5, 5, 25, 25, 40, 40, 60, 60]
Sorted list in descending order : [60, 60, 40, 40, 25, 25, 5, 5, 3, 3, 2, 2, 1, 1]

Q13Write a program to calculate the mean of a list of numbers

In [ ]:
l=[2,3,5,8]

mean =sum(l)/len(l)
print("Mean :",mean)

Mean : 4.5

or

In [ ]:
n=input("Enter the list of numbers :")
n_list=[float(num) for num in n.split(',')]
mean = sum(n_list)/len(n_list)
print("Mean :",mean)

Enter the list of numbers :20,30,40,50
Mean : 35.0

Q14.Write a program to check if the max element of the list lies
in the first half or the second half

In [ ]:
l =[20,30,50,40,10,25]
max_ele = max(l)
max_index=l.index(max_ele)
middle=len(l)//2
if max_index<middle:
    print("Max element in first half",max_ele)
else:
    print("Max element in second half",max_ele)

Max element in first half 50

Q15.Write a program to input 2 lists and display the maximum
element from the elements of both the list, along with its index
in the list

In [ ]:
l1 =[10,20,30,90,77]
l2 =[40,60,25,40,65]
max_l1 = max(l1)
i1 = l1.index(max_l1)
print("Maximum element in first list :",max_l1,"Index :",i1)
max_l2 = max(l2)
i2 = l2.index(max_l2)
print("Maximum element in second list :",max_l2,"Index :",i2)

Maximum element in first list : 90 Index : 3
Maximum element in second list : 65 Index : 4

Q16.Given 2 lists, write a program that prints “overlapped” if they
have at least one member in common otherwise “not overlapped”

In [ ]:
l1 = [10,50,30,15]
l2 = [20,30,25,66]
if any(element in l1 for element in l2):
    print("Overlapped")
else:
    print("not Overlapped")

Overlapped

or

In [ ]:
l1 = [10,50,30,15]
l2 = [20,30,25,66]
overlapped = False

for i in l1:
    for j in l2:
        if i==j:
            overlapped = True
            break
if overlapped:
    print("Overlapped")
else:
    print("Dose not overlapp")

Overlapped

Q17. Write a program to input a list and 2 numbers m and n. Then
create a list from those elements which are divisible by both m and
n

In [ ]:
l =input("Enter a list of number :")
m=int(input("Enter a number :"))
n=int(input("Enter a number :"))
num_list = [int(num) for num in l.split(",")]
div_elements = [num for num in num_list if num%m==0 and num%n==0]
print("Elements divisible by", m ,"and", n ,":",div_elements)

Enter a list of number :10,20,30,40,50
Enter a number :10
Enter a number :20
Elements divisible by 10 and 20 : [20, 40]

Q18.Write a program to demonstrate the number guess game.
(You v/s Random module)

In [ ]:
import random
r =random.randint(1,15)
a = 0
while True:
    guess =int(input("Enter a number of your choice between 1 and 15 : "))
    a +=1
    if guess==r:
        print("Congrats! you guessed the number in : ",a,"attempts.")
        break
    elif guess < r:
        print("Try with the heigher value .")
    else:
        print("Try with another lower value.")

Enter a number of your choice between 1 and 15 : 6
Try with another lower value.
Enter a number of your choice between 1 and 15 : 5
Try with another lower value.
Enter a number of your choice between 1 and 15 : 4
Congrats! you guessed the number in :  3 attempts.

Q19.Write a program to print the multiplication table of a number
and read the number from the console.

In [ ]:
a =int(input("Enter a number :"))
print("Number :",a)
for i in range(1,11):
    result = a*i
    print("Multiplication Table :",result)

Enter a number :21
Number : 21
Multiplication Table : 21
Multiplication Table : 42
Multiplication Table : 63
Multiplication Table : 84
Multiplication Table : 105
Multiplication Table : 126
Multiplication Table : 147
Multiplication Table : 168
Multiplication Table : 189
Multiplication Table : 210

Q20.Write a program to calculate and print the sums of even and
odd integers of the first n natural numbers

In [ ]:
n = int(input("Enter a number :"))
even_sum=0
odd_sum=0
for i in range(1,n+1):
    if i%2 == 0:
        even_sum+=i
    else:
        odd_sum+=i
print("Sum of even number :",even_sum)
print("sum of odd number :",odd_sum)

Enter a number :15
Sum of even number : 56
sum of odd number : 64

Q21.Write a program to input a number and test whether it is
prime or not

In [ ]:

num = int(input("Enter a number :"))
if num<=1:
    is_prime=False
else:
    is_prime=True
    for i in range(2,int(num**0.5)+1):
         if num%i==0:
            is_prime=False
            break
if is_prime:
    print(num,"is a prime number.")
else:
    print(num ,"is not a prime number.")

Enter a number :7
7 is a prime number.

Q22.Write a program that prints the prime numbers from 15 through
25

In [ ]:

def is_prime(num):

    if num<=1:
          return False
    for i in range(2,int(num**0.5)+1):
         if num%i==0:
          return False
    return True
print("Prime number from 15 to 26 :")
for num in range(15,26):
    if is_prime(num):
        print(num)

Prime number from 15 to 26 :
17
19
23

Q23. Write a program to print the first 20 elements of the
Fibonacci series

In [ ]:
fib_series=[0,1]
while len(fib_series)<20:
    x=fib_series[-1]+fib_series[-2]
    fib_series.append(x)
print("The first 20 elements of the Fibonacci Series :")
print(fib_series)

The first 20 elements of the Fibonacci Series :
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

Q24Write a program to reverse a number

In [ ]:
n =input("Enter a number :")
revno=n[::-1]
r_no=int(revno)
print("Reversed number :",r_no)

Enter a number :123456
Reversed number : 654321

Q25.Write a program to generate divisors of a number

In [ ]:
n=int(input("Enter a number :"))
divisor =[]
for i in range(1,n+1):
     if n%i ==0:
        divisor.append(i)
print("Divisor of ",n,"is :",divisor)

Enter a number :70
Divisor of  70 is : [1, 2, 5, 7, 10, 14, 35, 70]

Q26.Write a program to calculate the BMI of a person after
inputting the weight in kgs and height in meters and then print the
Nutritional Status as per the following table
Nutritional Status BMI

Underweight <18.5

Normal 18.5-24.9

Overweight 25-29.9

Obese >=30

BMI =weight / (height *height )

In [ ]:
weight = float(input("Enter your weight in kg :"))
height =float(input("Enter your height in meters :"))

BMI = weight/(height*height)

if BMI <18.5:
    status = "Underweight"
elif 18.5<= BMI <25:
    status = "Normal"
elif 25<= BMI <30:
    status = "OverWeight"
else:
    status="Obese"
print("BMI is",BMI)
print("Status is :",status)

Enter your weight in kg :60
Enter your height in meters :1.56
BMI is 24.654832347140037
Status is : Normal

Q27.Write a program to check whether a number is an
Armstrong number or not.

In [ ]:
n= int(input("Enter a number :"))
m = str(n)
n_digit = len(m)
sum_digit=sum(int(digit)**n_digit for digit in m)
is_armstrong = n ==sum_digit
if is_armstrong:
    print("Is a Armstrong number.")
else:
    print("Not a Armstrong number .")

Enter a number :153
Is a Armstrong number.

Q28.Write a python program to demonstrate the common network
connection errors and display its reasons, get the error code from
the user.

In [ ]:
network_errors={
    200:"Bad Request",
    301:"Unauthorized",
    400:"Forbidden",
    4004:"Not Found"
}
error_code=int(input("Enter a network code :"))
if error_code in network_errors:
    error_d=network_errors[error_code]
    print(error_code,":",error_d)
else:
    print(error_code,":","Not in common network")

Enter a network code :400
400 : Forbidden

Q29. Write a program to take n (n > 20) as an input from the user.
Print numbers from 11 to n. If the number is a multiple of 3 print
“Multiple of 3”,if it is a multiple of 7 print “Multiple of 7”, if it is a
multiple of both, print multiple of both 3 and 7

In [ ]:
n = int(input("Enter a number (n>20) :"))
if n<=20:
    print("Enter number greater than 20 :")
else:
    for num in range(11,n+1):
        r=" "
        if num%3==0:
            r+="Multiple of 3"
        if num%7==0:
             if r:
                 r+=" and "
             r+="Multiple of 7"
        if r:
            print(num,r)
        else:
            print(num)

Enter a number (n>20) :30
11
12  Multiple of 3
13
14   and Multiple of 7
15  Multiple of 3
16
17
18  Multiple of 3
19
20
21  Multiple of 3 and Multiple of 7
22
23
24  Multiple of 3
25
26
27  Multiple of 3
28   and Multiple of 7
29
30  Multiple of 3